/* 검색창 */
.form-control:focus {
  border: 1px solid rgb(222, 226, 230);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* 버튼 */
.btn-outline-success {
  background-color: black;
  border: 1px solid black;
  color: whitesmoke;
}

.btn-outline-success:active {
  background-color: rgb(77, 81, 84) !important;
  border: 1px solid rgb(77, 81, 84) !important;
}

.btn:hover {
  background-color: gainsboro;
  border: 1px solid gainsboro;
}

/* 사진 카드 */
.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  font-size: 14px;
}

/* 하단 첫번째 줄 */
.first-line {
  border-bottom: 1px solid #392d23;
}

/* 하단 두번째 줄 */
.second-line a {
  color: white;
  text-decoration: none;
}

.second-line a:hover {
  text-decoration: underline;
}

/* 반응형일 때 나오는 부분 */
.mobile-footer {
  border-top: 1px solid #392d23;
  padding: 2rem 0;
  font-size: 1.15rem;
  font-weight: 300;
  display: none;
}

@media screen and (max-width: 48rem) {
  div[class="card"] {
    margin-bottom: 1rem;
  }
  .first-line {
    text-align: center;
    font-size: 1.1rem;
  }
  .flag {
    display: none;
  }
  .second-line {
    padding: 0 2rem;
  }
  .mobile-footer {
    display: block;
  }
}
